.SuggestedProductHomeItem {
    margin: 7.5px;
    min-height: 375px;
    max-height: 375px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.SuggestedProductHomeItem {
    background-color: #fff;
}

.Home3banner {
    background-color: default;
    margin: 7.5px;
    margin-top: 10px;
}

.Home3bannerImage {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 235px;
    max-height: 235px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.Home3bannerImage img {
    width: 100%;
}

.marginRight {
    margin-right: 10px;
}