.loading {
  min-width: 100%;
  min-height: 500px;
}

.loaderIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #057ad5;
  padding-top: 16%;
}

.loading h3 {
  text-align: center;
  color: rgb(34, 34, 34);
  font-size: 23px;
  font-weight: 550;
  white-space: nowrap;
  margin-bottom: 30px;
}
