.extraHeader {
  min-height: 40px;
  position: fixed;
  top: 42px;
  width: 100%;
}

.mainContent {
  width: 100%;
  position: fixed;
  top: 55px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  height: 100%;
  padding: 18px;
}
