.searchResult {
    margin-top: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-bottom: 10px;
}

.searchResult .leftSidePanel {
    background-color: #fff;
    margin-right: 10px;
    min-height: 500px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 5%);
}

.searchResult .rightSidePanel {
    background-color: #fff;
    min-height: 500px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 5%);
}